.bannerCarousel {
  width: 100%;
  background-color: #1e1d1b;
  position: relative;
}

.categoryOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 106;
  padding: 16px 20px;
}

@media (max-width: 768px) {
  .categoryOverlay {
    padding: 10px 12px;
  }
}
