.footer {
  background-color: #1a1817;
  color: #d3cdc4;
  padding: 2rem 20px 1.5rem;
  border-top: 1px solid #363330;
}

.footerBottom {
  border-top: 1px solid #363330;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: #b8b2ad;
}

.footerBottom p {
  margin: 0;
}

